/*multiple pagestyles*/
.container{
    display:grid;
    grid-template-columns:  repeat(3,33.3333%) ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
            'space text2 space'
            'space text1 space'
            'space text3 space'
            ;
    height: 100vh;
    max-width: 100%;

}

.flex{
    display:flex;
}

.center{
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;

}

ul{
    list-style-type: none;
}

/*Styling for landing page*/
.introtext{
    grid-column: 1/4;
    grid-row: 2/3;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    background: #646464;
    opacity:.9;
    color:white;
    box-shadow: #646464  5px 5px 5px 5px;
    font-family: 'Gruppo', cursive;
    font-size: 24pt;
    text-align: center;
}


/*Styling for Slider Page*/

#lighting, #people, #building, #seating, #waste, #roads, #transit, #trees,#energy, #grass{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition:.3s ease;
}

.next{
    grid-column: 1/2;
    grid-row:3/4;
}

.slick-prev:before {
    color: black;

}
.slick-next:before {
    color: black;
}

.sliderbg{
    position: absolute;
    top:0;
    left:0;
}

.slidertext{
    grid-column: 2/4;
    grid-row: 1/2;
    width:55%;
    left:10px;
}

 .slick-dots{
   bottom:70pt;
}

 .slick-arrow{
     top:35%;
 }

 #sources{
     text-decoration: none;
     margin:0;
     padding:0;
     text-align: center;
     line-height: 1;
 }

 #sctitle{
     text-decoration: underline;
 }

 .slide{
     text-align: center;
     margin-top:10pt;
     font-family: 'Raleway', sans-serif;
     line-height: 1.6;
 }


/*Svg styling*/
.cls-1,.cls-29,.cls-40,.cls-51,.cls-57,.cls-65,.cls-71,.cls-8{fill:none;}.cls-2,.cls-50{fill:#333;}.cls-3{fill:#62cc62;}.cls-4{fill:#54040e;}.cls-32,.cls-33,.cls-5{fill:#636262;}.cls-6{fill:#afe3f9;}.cls-7{fill:#7f0813;}.cls-33,.cls-40,.cls-8{stroke:#000201;}.cls-17,.cls-24,.cls-25,.cls-27,.cls-28,.cls-29,.cls-32,.cls-33,.cls-35,.cls-40,.cls-41,.cls-42,.cls-50,.cls-51,.cls-57,.cls-65,.cls-71,.cls-8{stroke-miterlimit:10;}.cls-24,.cls-32,.cls-33,.cls-8{stroke-width:3px;}.cls-9{fill:#7f0b24;}.cls-10{fill:#e2e2e0;}.cls-11{fill:#333332;}.cls-12{fill:#050400;}.cls-13{fill:#7f7f7d;}.cls-14{fill:#0f0f0c;}.cls-15{fill:#141405;}.cls-16{fill:#111103;}.cls-17{fill:#eaff12;stroke:#f8ff3b;}.cls-18{fill:#5b4b07;}.cls-19{fill:#124419;}.cls-20{fill:#44390c;}.cls-21{fill:#6b5809;}.cls-22{fill:#1b5b26;}.cls-23{fill:#bdc1bf;}.cls-24,.cls-26{fill:#19a558;}.cls-24{stroke:#535454;}.cls-25{fill:#b3b3b3;}.cls-25,.cls-27,.cls-28,.cls-29,.cls-41,.cls-42{stroke:#000;}.cls-27{fill:#565656;}.cls-28{fill:#2b2bc9;}.cls-30{fill:#9ca0ef;}.cls-31{fill:#010c06;}.cls-32{stroke:#797a7a;}.cls-34{fill:#d3d1d2;}.cls-35{fill:#b5bab6;stroke:#3d3d3d;}.cls-36{fill:#4d4d4f;}.cls-37{fill:#797a82;}.cls-38{fill:#c90909;}.cls-39{fill:#f7f2f2;}.cls-41{fill:#0c0c0c;}.cls-42{fill:#727272;}.cls-43{fill:url(#linear-gradient);}.cls-44{fill:#f69b76;}.cls-45{fill:#4d4d4d;}.cls-46{fill:#754c24;}.cls-47{fill:#f8c09d;}.cls-48{fill:#f6ae8d;}.cls-49{fill:#ef937e;}.cls-50{stroke:url(#SVGID_1_);}.cls-51,.cls-65,.cls-71{stroke:#ef937e;}.cls-51,.cls-57,.cls-65,.cls-71{stroke-linecap:round;}.cls-51,.cls-57{stroke-width:4.53px;}.cls-52{fill:#405a7f;}.cls-53{fill:#bf844f;}.cls-54{fill:#2f455b;}.cls-55{fill:#8c6239;}.cls-56{fill:#603813;}.cls-57{stroke:#8c6239;}.cls-58{fill:#30333a;}.cls-59{fill:#ffd345;}.cls-60{fill:#ffed6c;}.cls-61{fill:#1c1c28;}.cls-62{fill:#e6e6e6;}.cls-63{fill:#fff;}.cls-64{fill:#703b21;}.cls-65{stroke-width:4px;}.cls-66{fill:#065082;}.cls-67{fill:#f2f2f2;}.cls-68{fill:#1561a0;}.cls-69{fill:#22b573;}.cls-70{fill:#1b965b;}.cls-71{stroke-width:5px;}


/*Quiz Styling*/
.quizContainer{
     align-items: center;
     align-self: center;
     justify-content: center;
     flex-direction: column;
     background: #646464;
     opacity:.9;
     color:white;
     box-shadow: #646464  5px 5px 5px 5px;
     font-family: 'Gruppo', cursive;
     font-size: 24pt;
     text-align: center;
     margin-top:20pt;
 }


#nextBtn, .tryAgain{
    background: #888888;
    color:white;
    font-size:18pt;
    border:none;
}


/*Responsive Styling*/
@media only screen and (max-width: 960px) {
    .slide{
        background:#b5bab6;
        font-size: 11pt;
    }
    .cls-35{
        stroke:none;
    }
}